.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  /* background-color: rgb(238, 248, 241); */
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  height: 300px;
  width: 300px;
  background-color: white;
  border: 1px solid rgba(67, 156, 64, 0.3);
  border-radius: 20px;
}
.login-header {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.login-signup {
  margin-top: 10px;
  margin-left: 5px;
}
